.wraper {
    width: 100dwh;
    min-height: 100vh;
    position: relative;
}

.wraperStatic {
    height: 100dvh;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1800px;
    height: calc(100dvh - 4rem);
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.main {
    width: 100%;
    display: flex;
}

.outlet {
    width: calc(100% - 280px);
    display: flex;
    position: relative;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 3px;
    background-color: rgba(128, 128, 128, 0.1);
}

@media (width < 769px) {
    .container {
        height: auto;
    }
    .containerStatic {
        max-height: calc(100dvh - 4rem);
    }
    .outlet {
        width: 100%;
    }
    ::-webkit-scrollbar {
        width: 0;
    }
}