.back {
    & div {
        width: fit-content;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 1.3rem;
        white-space: nowrap;
    }
    & span {
        height: 1.2rem;
        margin-right: 10px;
        display: flex;
        align-items: center;
    }
}
