.card {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 1rem;
  border-left: 1px solid rgba(128, 128, 128, 0.2);
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  & button {
    font-size: 1.4rem;
    padding: 10px 0;
    background-color: rgb(124, 203, 6);
    border: none;
    border-radius: 5px;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
}

.inCart {
  color: yellow;
}

.button {
  color: rgb(40, 40, 40);
}

.title {
  width: 100%;
  overflow: hidden;
  height: 2.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: flex;
  justify-content: center;
  text-align: center;
  text-overflow: ellipsis;
  color: black;
}

.stars {
  display: flex;
  justify-content: center;
  color: orange;
}

.price {
  text-align: center;
  font-size: 1.5rem;
  color: black;
  font-weight: 700;
}

.img {
  max-width: 100%;
  width: 100%;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
  & img {
    max-width: 100%;
    width: auto;
    height: 100%;
  }
}

@media (width < 769px) {
    .card {
        padding: 5px;
    }
    .img {
      padding-top: 1rem;
    }
}
