
.burgerMenu {
  width: 350px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  background-color: #fff;
  box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.5);
  animation: burgermenu 0.5s;
  & li {
    list-style: none;
  }
  & section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.currentUser {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & span {
    font-weight: 100;
    font-size: 1.1rem;
  }
  & h4 {
    font-size: 1.1rem;
  }
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: lightblue;
    & span {
        font-size: 1.5rem;
        color: blue;
    }
}

.logIn, .cart {
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  cursor: pointer;
  & span {
    height: 100%;
    padding-right: 1rem;
    display: flex;
    align-items: center;
  }
  & p {
    min-width: 1.6rem;
    aspect-ratio: 1;
    color: white;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.avatar {
  font-size: 1.7rem;
}

.logOut {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary {
  padding: 1rem 1rem 10px 1rem;
  list-style: none;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  font-weight: 900;
  cursor: pointer;
  & span {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    font-weight: 900;
    transition: 1s;
  }
}

.link {
  font-size: 1.3rem;
  padding: 5px 30px;
  & a {
    padding: 5px;
    color: black;
    display: flex;
    & span {
      padding-right: 10px;
      display: flex;
      align-items: center;
    }
  }
}

.ul {
  overflow: hidden;
}

.appLinks {
  width: 100%;
}


@media (width < 400px) {
  .burgerMenu {
    width: 100%;
  }
}
